.button {
  padding: 1.8rem;
  border-radius: 1.6rem;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: $white;
    color: $black;
  }

  &-turquoise {
    background: $turquoise;
  }
  &-black {
    background: $black;
    color: $white;
  }
  &-border {
    background: transparent;
    border: 0.15rem solid $black;
    position: relative;
    &::before,
    &::after {
      position: absolute;
      content: '';
      pointer-events: none;
    }
    &:hover {
      &::before {
        width: 1rem;
      }
      &::after {
        height: 1rem;
      }
    }

    &::before {
      width: 1rem;
      width: 0px;
      top: -0.3rem;
      bottom: -0.3rem;
      height: auto;
      left: 50%;
      transform: translateX(-50%);
      border-top: 0.5rem solid $white;
      border-bottom: 0.5rem solid $white;
      transition: width 0.3s;
    }
    &::after {
      height: 1rem;
      height: 0px;
      left: -0.3rem;
      right: -0.3rem;
      width: auto;
      top: 50%;
      transform: translateY(-50%);
      border-left: 0.5rem solid $white;
      border-right: 0.5rem solid $white;
      transition: height 0.3s;
    }
  }

  @include small-tablet {
    border-radius: 2.4rem;
    padding: 3.2rem 6.4rem;
  }
}

.swiper-button.swiper-button-next,
.swiper-button.swiper-button-prev {
  width: 6rem;
  height: 6rem;
  margin-top: 0;
  &::after {
    content: '';
  }
  & svg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.arrow-top__arrow-box {
  display: block;
  position: fixed;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 0.15rem solid $black;
  bottom: 5.2rem;
  right: 6rem;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s;
  @include small-tablet {
    display: none;
  }
  &.arrow-top--show {
    opacity: 1;
  }
}
.arrow-top__arrow-svg-box {
  width: 3.2rem;
  height: 3.2rem;
  & svg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
