<section class="benchs">
    <div class="container">
        <div class="benchs__desk switcher">
            <div class="switcher__container">
                <div class="switcher__content active">
                    <div class="benchs__desk-container">
                        <div class="benchs__desk-left">
                            <div class="benchs__desk-title tl1">beavermill <br> 3 оси</div>
                            <div class="benchs__desk-description txt16">Станок BEAVERMILL разработан для большинства <br> типовых операций по металлообработке и может быть использован в аэрокосмической, автомобильной, электронной, медицинской <br> и других отраслях промышленности.</div>
                            <a href="" class="benchs__desk-link">подробнее</a>
                            <div class="benchs__desk-imgs">
                                <div class="benchs__desk-img"></div>
                                <div class="benchs__desk-img"></div>
                            </div>
                        </div>
                        <div class="benchs__desk-center"></div>
                        <div class="benchs__desk-right"></div>
                    </div>
                </div>
                <div class="switcher__content">
                    33333333
                </div>
            </div>
            <div class="benchs__btns">
                <div class="benchs__btn switcher__btn active">Beavermill 3 и 4 оси</div>
                <div class="benchs__btn switcher__btn">Beavermill 5 осей</div>
            </div>
        </div>
    </div>
</section>
  