<section class="benchs">
    <div class="container">
        <div class="benchs__desk switcher">
            <div class="switcher__container">
                <div class="switcher__content active">
                    123
                </div>
                <div class="switcher__content">
                    33333333
                </div>
            </div>
            <div class="benchs__btns">
                <div class="benchs__btn switcher__btn active">Beavermill 3 и 4 оси</div>
                <div class="benchs__btn switcher__btn">Beavermill 5 осей</div>
            </div>
        </div>
    </div>
</section>
  